/* * {
  padding: 0;
  margin: 0;
} */

.btn {
  font-size: 1.7rem;
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--orange);
  color: var(--orange);
  background: none;
  cursor: pointer;
}

.btn:hover {
  background: var(--orange);
  color: var(--white);
}


.aboutUs {
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* border: 1px solid black; */
  /* background-color: aliceblue; */

}

#img_about {
  width: 300px;
  height: 500px;
  border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
}

@media (max-width: 920px) {
  .aboutUs {
    padding-left: 50px !important;
    padding-right: 50px;
  }

  #img_about {
    margin-top: 15px;
  }
}